<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="RegressionTrello">
        <classes>
            <class name="com.trello.selenium.TeamCreationTests"/>
            <class name="com.trello.selenium.TeamDeletionTest"/>
            <class name="com.trello.selenium.BoardCreationTest"/>
            <class name="com.trello.selenium.BoardDeletionTest"/>
        </classes>
    </test>
</suite>
